ul.stwt-error-list li.each-error {
    color: #d00;
    font-style: italic;
}
.stwt-admin-edit-area {
    padding: 10px;
    border: 1px solid #0400001c;
    margin: 15px 0;
}
a.sheet-button.button {
    padding: 2px 15px;
    background: #4CAF50;
    color: white;
}
a.sheet-button.button:hover {
    background: #9C27B0;
    color: white;
}